apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "authelia-oidc-operator.fullname" . }}
  labels:
    {{- include "authelia-oidc-operator.labels" . | nindent 4 }}
rules:
  - apiGroups:
      - ""
    resources:
      - configmaps
      - secrets
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - ""
    resources:
      - events
    verbs:
      - create
      - patch
  - apiGroups:
      - coordination.k8s.io
    resources:
      - leases
    verbs:
      - create
      - get
      - list
      - update
  - apiGroups:
      - security.homelab.io
    resources:
      - claimspolicies
      - userattributes
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - security.homelab.io
    resources:
      - oidcclients
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - security.homelab.io
    resources:
      - oidcclients/status
    verbs:
      - get
      - patch
      - update
